%% -*- erlang -*-
{sub_dirs, ["rel"]}.

%% Dependencies ================================================================
{deps, [{lager, ".*",
            {git, "http://github.com/basho/lager.git", "master"}},
        {bert, ".*",
        	{git, "https://github.com/mojombo/bert.erl.git", "master"},
        	[raw]}]}.

%% Hook Options ============================================================
{pre_hooks, [{compile, "erlc -o $REBAR_DEPS_DIR/bert/ebin/ $REBAR_DEPS_DIR/bert/src/bert.erl"}]}.

%% Compiler Options ============================================================
{erl_opts, [debug_info,
            warnings_as_errors,
            {parse_transform, lager_transform},
            {i, "include"},
            {src_dirs, ["src"]}]}.

%% EUnit =======================================================================
{eunit_opts,
    [{report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
