%% Dependencies ================================================================
{deps, [{lager, ".*",
            {git, "http://github.com/basho/lager.git", "master"}}]}.

%% Compiler Options ============================================================
{erl_opts, [debug_info,
            warnings_as_errors,
            {parse_transform, lager_transform},
            {i, "include"},
            {src_dirs, ["src"]}]}.
