%% -*- erlang -*-
{sub_dirs, ["rel"]}.

%% Dependencies ================================================================
{deps, [{lager, ".*",
            {git, "http://github.com/basho/lager.git", "master"}}]}.

%% Compiler Options ============================================================
{erl_opts, [debug_info,
            warnings_as_errors,
            {parse_transform, lager_transform},
            {i, "include"},
            {src_dirs, ["src"]}]}.

%% EUnit =======================================================================
{eunit_opts,
    [{report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
